body {
    margin: 0;
    padding: 0;
    font-family: "Madimi One", sans-serif;
}

header {
    /* background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); */
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}

nav {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.banner-two-parts {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.banner-slogan, .banner-image {
    width: 50%;
    text-align: center;
}

.banner-slogan {
    position: relative;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8%;
}

.banner-image img {
    width: 100%;
}

.banner-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 400px;
}

.slogan-icons i {
    margin: 1em;
    cursor: pointer;
    padding: 1em;
    border-radius: 8px;
    transition: 250ms;
}

.slogan-icons i:hover {
    background-color: #0001;
}

.slogan-button button {
    font-size: 1.5em;
    border: none;
    padding: .5em;
    border-radius: 8px;
    cursor: pointer;
    transition: 400ms;
}

.slogan-button button:hover {   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slogan-button {
    /* position: absolute; */
    left: 0%;
    bottom: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-ul {
    display: flex;
    flex-direction: row;
    margin-right: 3em;
    margin-top: 1em;
}

.navigation-logo {
    width: 5%;
    cursor: pointer;
}

.navigation-logo img {
    width: 100%;
}

.navigation-ul li {
    padding: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: 250ms;
}

.navigation-ul li:hover {
    background-color: #DFFFCD;
}

.banner-container {
    /* margin-top: 3em; */
    /* background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); */
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    border-radius: 1em;
}

.banner-section-home {
    padding: 2em;
}

.categories-section {
    margin-top: 5em;
    background-color: #0001;
    padding: 1em;
}

.categories-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}

.categories-box button {
    /* margin: 1em; */
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.5em;
    padding: .5em;
    background-color: #fff;
    border-radius: 8px;
    transition: 200ms;
}

.categories-box button:hover {
    background-color: #90F9C4;
}

.products {
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-direction: column;
}

.products-section {
    background-color: #0001;
}

.products-container {
    /* margin: 5em; */
}

.products-heading {
    text-align: center;
}

.products-heading h1 {
    margin: 0.5em 0 1em 0;
}

.product-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
}

.product-single, .card {
    flex: 1;
    display: flex;
    justify-content: center;
}

.product-image, .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    max-height: 15em;
}

.category-infomation {
    gap: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    max-height: 15em;
}

.products-section {
    margin-top: 5em;
}

.product-single-container, .card-container {
    width: 15em;
    background-color: #0001;
    padding: 1em;
    border-radius: 10px;
    transition: 200ms;
}

.card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-single-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-info {
    margin-top: .5em;
}

.product-info button {
    margin: 0.5em;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
    padding: 0.8em;
    background-color: #fff;
    border-radius: 8px;
    transition: 200ms;
}

.product-info button:hover {
    background-color: #90F9C4;;
}

/* .product-price {
    float: right;
} */

.product-price {
    padding: .5em;
}

.section-footer {
    /* background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); */
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    border-radius: 1em;
    margin: 2em;

}

.footer-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lower-banner-section {
    margin-top: 3em;
    margin-bottom: 3em;
}

.lower-banner-section-image img {
    object-fit: cover;
    height: 30em;
    width: 100%;
}

.lower-banner-section-image span {
    position: absolute;
    margin: 0;
    bottom: 0em;
    left: 0em;
    color: white;
    font-size: 5em;
}

.lower-banner-section-image {
    position: relative;
}

@media only screen and (max-width: 800px) {
    .banner-slogan, .banner-image {
        width: 100%;
    }

    .banner-container {
        margin-top: 0;
    }
}

.app-button {
    font-size: 1.4em;
    border: none;
    padding: .5em;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: 250ms;

}

.app-button:hover {
    background-color: #DFFFCD;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
  }

.button-loader {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
  }

  @keyframes l1 {to{transform: rotate(.5turn)}}

  .model {
    /* text-align: center; */
    width: 60%;
    border-radius: 10px;
    background-color: #fff;
    padding: 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 500ms ease-in-out;
    z-index: 1;
}

.model-container {
    width: 100%;
}

.model-heading h2 {
    margin: 0;
    margin-bottom: 1em;
}

.model-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: .5em;
    font-size: 1.5em;
}

.model-content {
    padding: 1em;
}

.app-input {
    border: 1px solid black;
}

.app-form-group {
    display: flex;
    gap: 1em;
    margin: 1em 0 1em 0;
    justify-content: space-between;
    width: 100%;
}

.catefory-form {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    font-size: 1.2em;
}

.app-select-input {
    border: 1px solid black;
}

.radio-form-group {
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
}

.category-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.erros-container {
    border: 1px solid red;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    color: red;
}

.categories-container {
    text-align: center;
}

@media only screen and (max-width: 856px) {
    .banner-slogan {
        width: 100%;
    }
}

.admin-panel {
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    margin: 1em;
    border-radius: 10px;
}

.admin-panel-box {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;}

.admin-panel-categories {
    width: 30%;
    /* padding: 2em; */
    background-color: #fff;
    margin: 1em;
    font-size: 1.2em;
    flex: 300px;
    border-radius: 1em;
}

.admin-panel-content {
    width: 60%;
    margin: 1em;
    border-radius: 1em;
    flex: 400px;
}

.content-main {
    width: 100%;
}

.item {
    padding: 1em;
}

.admin-panel-content {
    background-color: #fff;
}

.admin-categories-section {
    width: 100%;
}

.panel-list {
    padding: 0;
}

.categories-search {
    display: flex;
    justify-content: center;
    position: relative;
}

.categories-search input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 2em 1em 1em 2em;
    background: transparent;
}

.search-icon {
    position: absolute;
    bottom: 1.3em;
    left: 1.2em;
}

.search-input:focus {
    outline: none;
}

.list {
    padding-left: 2em;
    padding-top: 1em;
    transition: 1s ease-in-out;
}

.list-element {
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
}

.list-element:hover {
    background-color: #DFFFCD;
} 

#crud-category {
    margin-left: 2em;
}

.category-icon {
    cursor: pointer;
    padding: 5px;
    transition: 500ms ease;
}

.category-icon:hover {
    background-color: #DFFFCD;
}

.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.inner-main-container {
    padding: 1em;
    flex: 400px;
}

.product-container {
    padding: 1em;
}

.product-box {
    margin-top: 1em;
}

.product-table {
    width: 100%;
}

.product-table-heading {
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}

.product-table-heading th {
    padding: 1em;
}

.toast {
    position: fixed;
    bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1000;
    font-size: 1.5em;
    color: white;
}

.toast-container {
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    padding: 1em 5em 1em 5em;
    border-radius: 1em;
    position: relative;
}

.clost-toast {
    position: absolute;
    right: 1em;
    top: 10px;
    cursor: pointer;
}

.product-item-box {
    display: flex;
    justify-content: center;
}

.product-item-image {
    width: 40%;
    padding: 1em;
    flex: 400px;
}

.product-item-image img {
    width: 100%;
    border-radius: 1em;
}

.product-item-description {
    width: 40%;
    padding: 1em;
    flex: 400px;
}

.product-item-box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stock-alert {
    color: red;
}

.product-item-actions button {
    margin: 0 .5em 0 0;
}

.product-item-heading {
    background-color: #DFFFCD;
    padding: .5px;
    border-radius: 1em;
    margin-left: -11px;
}

.product-item-heading h1 {
    margin: 16px;
}

.review {
    background-color: #DFFFCD;
    width: 20em;
    padding: 1em;
    border-radius: 1em;
    height: 15em;
    max-height: 15em;
    overflow-y: auto;
}

.product-item-reviews-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    max-height: 20em;
    overflow-y: auto;
}

.ratings {
    font-size: 1.5em;
}

.write-review {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 0 1em 0;
    gap: 1em;
    align-items: center;
}

.write-review textarea {
    padding: 1em;
    border-radius: 1em;
}

@media only screen and (max-width: 600px) {
    .write-review textarea {
        width: 80%;
    }

    .create-review-textarea {
        padding: 1em;
    }
}

.delete-review {
    cursor: pointer;
}